body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #333;
}
form {
    margin-top: 50px;
    margin-left: 330px;
    margin-right: 330px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
    margin-left: 43%;
    font-weight: bold;
}
input[type="email"],
input[type="text"] {
    text-align: center;
    font-size: 24px;
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 39%;
    width: 20%;
}
button:hover {
    background-color: #45a049; 
}